<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ntalk - Agenda de contatos</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="clearfix hero-unit">
