<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ntalk - Agenda de contatos</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="clearfix hero-unit">
            <header class="row-fluid text-center">
                <h1>Ntalk</h1>
                <h4>Bem vindo!</h4>
            </header>
            <section class="row-fluid text-center">
                <form action="/entrar" method="POST">
                    <input type="text" name="nome" id="" placeholder="Seu Nome">
                    <br>
                    <input type="text" name="email" id="" placeholder="Seu Email">
                    <br>
                    <button type="submit">Entrar</button>
                </form>
            </section>
            <footer><small>Ntalk - Agenda de Contatos</small></footer>
        </div>
    </div>
</body>
</html>
