<% include ../header %>

            <header class="row-fluid text-center">
                <h1>Ntalk</h1>
                <h4>Bem vindo!</h4>
            </header>
            <section class="row-fluid text-center">
                <form action="/entrar" method="POST">
                    <input type="text" name="nome" id="" placeholder="Seu Nome">
                    <br>
                    <input type="text" name="email" id="" placeholder="Seu Email">
                    <br>
                    <button type="submit">Entrar</button>
                </form>
            </section>
<% include ../footer %>
